In [3]:
import pandas as pd

Нижче проаналізовані таблиці учнів щодо їхніх успіхів в навчанні чи якістю сімейних стосунків
 в кореляції з наявністю чи відсутністю романтичних стосунків.

### Запустіть клітинку з файлом, який бажаєте проаналізувати з розташованих нижче

In [7]:
#Учні математики
file = 'student-mat.csv'

In [2]:
#Учні португальської
file = 'student-por.csv'

### Романтичні стосунки та успішність в навчанні

In [10]:
def romantic_and_grades(filename):
    grades = pd.read_csv(filename, sep=';')
    grouped = grades.groupby('romantic')[['absences', 'failures', 'G1', 'G2', 'G3']].agg(['mean'])
    counts = grades['romantic'].value_counts()
    grouped['count'] = counts
    grouped = grouped.round(2)
    return grouped


romantic_and_grades(file)

         absences failures     G1     G2     G3 count
             mean     mean   mean   mean   mean
romantic
no           3.38     0.19  11.56  11.79  12.13   410
yes          4.14     0.28  11.13  11.20  11.52   239

### Романтичні стосунки та сімейний стан

In [9]:
def romantic_and_categories(filename):
    data = pd.read_csv(filename, sep=';')

    grouped = data.groupby('romantic').apply(
        lambda group: pd.Series({
            'Parents live together (%)': round((group['Pstatus'] == 'T').mean()*100, 1),
            'Parents live apart (%)': round((group['Pstatus'] == 'A').mean()*100, 1),
            'Family greater than 3 (%)': round((group['famsize'] == 'GT3').mean()*100, 1),
            'Family less than 3 (%)': round((group['famsize'] == 'LE3').mean()*100, 1),
        })
    )

    grouped['count'] = data['romantic'].value_counts()

    
    return grouped

romantic_and_categories(file)

C:\Users\Natalya\AppData\Local\Temp\ipykernel_22676\1358396394.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped = data.groupby('romantic').apply(

,Parents live together (%),Parents live apart (%),Family greater than 3 (%),Family less than 3 (%),count
romantic,,,,,
no,89.0,11.0,69.3,30.7,410
yes,85.4,14.6,72.4,27.6,239