In [1]:
import pandas as pd

Нижче проаналізована таблиця учнів щодо їхніх успіхів в навчанні в кореляції з наявністю чи відсутністю романтичних стосунків.

Запустіть клітинку з файлом, який бажаєте проаналізувати.

In [70]:
#Учні математики
file = 'student-mat.csv'

In [72]:
#Учні португальської
file = 'student-por.csv'

In [73]:
def romantic_and_grades(filename):
    grades = pd.read_csv(filename, sep=';')
    grouped = grades.groupby('romantic')[['absences', 'failures', 'G1', 'G2', 'G3']].agg(['mean'])
    counts = grades['romantic'].value_counts()
    grouped['count'] = counts
    return grouped


romantic_and_grades(file)

          absences  failures         G1         G2         G3 count
              mean      mean       mean       mean       mean
romantic
no        3.378049  0.190244  11.556098  11.787805  12.129268   410
yes       4.142259  0.276151  11.129707  11.196653  11.523013   239